h1 {
    font-size: 50px;
    color: red;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

h2 {
    font-size: 40px;
    color: rgb(0, 51, 255);
    text-align: center;
    font-family: 'Arial', sans-serif;
}

p {
    font-size: 25px;
    color:rgb(150, 117, 27);
    text-align: center;
    font-family: 'Arial', sans-serif;
}

@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}
h1 {
    animation: color-change 3s infinite;
}

img {
    width: 300px; /* Cambia el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Hace que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}